* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100dvh;
    background-color: #48f;
    color: 111;
    font-size: 3rem;
    text-align: center;
    padding: 20px 40px;
}