body {
    margin: 0;
    padding: 20px;
}

div, body {
    box-sizing: border-box;
}

.gridbox{
    margin-top: 100px;
    height: 70vh;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    border: 3px solid #000;
    /* La distancia entre cada fila de la grid sera de 30 pixeles*/
    row-gap: 30px;
    /* La distancia entre cada columna de la grid sera de 15 pixeles*/
    column-gap: 15px;
}

.conteiner {
    background-color: #48e;
    padding: 10px;
    font-size: 30px;
    color: #fff;
}

/*ESTA PRACTICA NO ES RECOMENDABLE PERO ESTABA MI ORGULLO DE PORMEDIO JIJI*/

@media screen and (max-width: 400px) {
    .gridbox {
        grid-template-columns: 1fr;
    }   
}
