body {
    margin: 0;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

div, body {
    box-sizing: border-box;
}


/* Solamente vamos aplicar estos estilos a la hora de querer imprimir*/
@media print {
    body {
        font-size: 32px;
    }
}

/* Al usar screen estamos afecta a la visualización directa la página, donde ponemos el condicional and para poner bajo q condición q es max-width: 500px se ejecutara nuestra condicional font-size 32px en el body*/
@media screen and (max-width:500px) {
    body {
        font-size: 32px;
    }    
}



