* {
    padding: 0;
    margin: 0;
}

div {
    margin: auto;
    width: 400px;
    background-color: beige;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    margin-top: 30px;
    padding: 20px;
    box-sizing: border-box;
    /* La forma que tenemos para colocar sombra a las cajas en general tanto imagenes sin fondo, es box-shadow siendo sus paramentros: el primero el eje 'x', luego eje 'y', el tamaño de la sombra, la intensidad del color, el color de la sombra*/
    box-shadow: 0px 0px 40px 0px #000;
}

img {
    border-radius: 100%;
    width: 50%;
    height:10%;
    /* colocamos la sombra a una imagen que no sea sin fondo*/
    box-shadow: 0 0 10px 0px #002;
}

h1 {
    margin: 10px 0;
    letter-spacing: 4px;
    /* tambien podemos colocar lo mismo a los textos, solo que no cuenta con el parametro de intensidad*/
    text-shadow: 0 0 4px #002;
}

p {
    line-height: 1.5;
    text-align: justify;
}
/* La forma de colcoarle sombra a una imagen sin fondo es con filter: drop-shadow(0 0 3px #002)*/